.item-custom {
    width: 20%;
    height: 65px;
    /*float: left;*/
    display:table-cell;
    vertical-align:middle;
}

.item-reg {
    width: 20%;
    height: 30px;
    /*float: left;*/
    padding-top: 0px;
    vertical-align:middle;
}


.title-link {
  color: #333;
}

.item-reg .signup {
    margin-top: 5px;
}

.navbar-custom .navbar-nav > li {
    vertical-align: middle;
}

.navbar-custom {
  	background-color:#375a7f;
    color:#375a7f;
  	border-radius:0;
    width: 100%;
}

.rubrik-input {
  width: 60%;
  display: inline;
}

.navbar-custom .navbar-nav > li > a {
  	color:#fff;
}

.navbar-custom .navbar-nav > .active > a, .navbar-nav > .active > a:hover, .navbar-nav > .active > a:focus {
    color: #ffffff;
}

.navbar-custom .navbar-nav > li > a:hover, .nav > li > a:focus {
    text-decoration: none;
    background-color: #28415b;
    /*width : 30%;*/
}

.navbar-custom .navbar-brand {
  	color:#eeeeee;
}

.navbar-custom .navbar-toggle {
  	background-color:#eeeeee;
}
.navbar-custom .icon-bar {
  	background-color:#28415b;
}
.container-custom {
    padding-right: 15px;
    padding-left: 15px;
    height: 100%;
    width: 100% !important;
}

.item {
    height: 100%;
}

.navbar-right-custom.userblock.text {
  height: 30px;
}

.custom-jumbotron {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 20px!important;
  padding-left: 20px!important;
}

.title-text {
	margin-top:0px;
}

.custom-jumbotron-materials {
  margin-top: 85px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 20px!important;
  padding-left: 20px!important;
}

.panel {
  margin-bottom: 3px;
}

.panel-body {
  padding-top: 5px;
}

.panel-body {
  padding-bottom: 5px;
}

.not-reg {
  margin-top: 15px;
}

.userblock {
  align:center;
  margin-left: 70px;
  margin-top: 7px;
}

.admin-panel {
  float : right;
}

.admin-panel:hover {
  float : right;
  color: #fff !important;
}

.roboto-font {
    text-align: center;
    font-family: 'Roboto Black', sans-serif;
    font-size: 30px;
    padding-top: 25px !important;
    padding-bottom: 0px !important;
}

.reg {
    text-align: left;
    font-family: 'Roboto Black', sans-serif;
    font-size: 28px;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}

.reg-container {
	margin-top: 100px !important;
  padding-top: 1px;
  padding-bottom: 15px;
}

.add-material {
  padding-top: 15px !important;
  padding-bottom: 10px !important;
}

.navbar-default .navbar-custom > li > a:hover {
    color: #fff;
}

.container-navbar {
  padding-right: 0px;
  padding-left: 0px;
  margin-right: 0px;
  margin-left: 0px;
  height: 100%;
  width: 100% !important;
}

.sort-menu {
  margin-top: 75px;
  margin-bottom: 15px;
  margin-left: 15px;
}

.container
}
