<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Библиотека информационных ресурсов</title>
    <script src="/js/jquery.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.23/jquery-ui.js" type="text/javascript" charset="utf-8"></script>
    <script src="/js/my.js"></script>
    <script src="/js/bootstrap-treeview.js"></script>
    <script src="../../js/bootstrap.js" type="text/javascript"></script>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/main.css" rel="stylesheet">
    <link rel="icon" href="../../favicon.ico">
    <link href='/css/roboto.css' rel='stylesheet' type='text/css'>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/flick/jquery-ui.css">
    <link href="/css/jquery.tagit.css" rel="stylesheet" type="text/css">
    <link href="/css/bootstrap-treeview.css" rel="stylesheet" type="text/css">
    <script src="/js/bootstrapValidator.js" type="text/javascript"></script>
    <script src="/js/tag-it.js" type="text/javascript" charset="utf-8"></script>
  </head>

  <body>
    <nav class="navbar navbar-default navbar-fixed-top navbar-mes navbar-custom">
      <div class="container navbar-container container-fluid container-navbar">
        <div class="collapse navbar-collapse item-custom-nav">
          <ul class="nav navbar-nav navbar-custom">
            <li class="item-custom"><a class="item roboto-font" href="{% url 'catalog' %}">Каталог</a></li>
            <li class="item-custom"><a class="item roboto-font" href="/">Поиск</a></li>
            <li class="item-custom"><a class="item roboto-font" href="{% url 'index' %}">Популярные</a></li>
            <li class="item-custom"><a class="item roboto-font  add-material" href="{% url 'add_material' %}">Добавление материала</a></li>
            {% if user.is_authenticated %}
              <li class="item-custom"><a class="item roboto-font" href="{% url 'lk' %}">Личный кабинет</a></li>
            {% else %}
              <li class="not-reg">
                  <li class="item-reg">
                  <a class="item reg" href="{% url 'login' %}">
                  <span class="glyphicon glyphicon-log-in"></span> Вход</a>
                  </li>
                  <li class="item-reg">
                  <a class="item reg signup" href="{% url 'signup' %}">
                  <span class="glyphicon glyphicon-user"></span> Регистрация</a>
                  </li>
              </li>
            {% endif %}
          </ul>
        </div>
      </div>
    </nav>

    <div class="container container-custom">
      <div class="row">
        <div class="col-md-12 col-sm-12">
          {%block content %} {% endblock %}
        </div>
      </div>
    </div>

  </body>
</html>

{% block js %} {% endblock %}
