{% extends "base.html" %}
{% block content %}

<div class="sort-menu">
  {% if user.is_superuser %}
    <a href="/control" class="btn btn-primary admin-panel" role="button">Панель администратора</a>
  {% endif %}
  <a href="/logout" class="btn btn-success admin-panel" role="button">Выход</a>
</div>
<div class="jumbotron custom-jumbotron my-container">
	<div class="active">
		{% if users  %}
      <p>Список пользователей</p>
			{% for user in users %}
  				<ul class="list-group list-all-materials" id="{{ material.id }}">
  				  <li class="list-group-item">
  						<b>{{ user.username }}<b></a>
  						{% if user.is_active == True %}
                <a id="block_user" typeb="0" userid="{{ user.id }}" class="btn btn-warning admin-edit control-item"
  											role="button">Заблокировать</a>
              {% else %}
                <a id="block_user" typeb="1" userid="{{ user.id }}" class="btn btn-danger admin-edit control-item"
                        role="button">Разблокировать</a>
              {% endif %}
  				  </li>
  				</ul>
			{% endfor %}
		{% else %}
		<div class="alert alert-success not-reg" role="alert">Список пользователей пуст</div>
		{% endif %}
	</div>
</div>
{%endblock %}
