{% extends "base.html" %}
{% block content %}
  <div class="sort-menu">

    {% if user.is_superuser %}
      <a href="/control" class="btn btn-primary admin-panel" role="button">Панель администратора</a>
    {% endif %}
    <a href="/logout" class="btn btn-success admin-panel" role="button">Выход</a>

  </div>

  <div class="jumbotron custom-jumbotron reg-container-2">
    <h2>Управление тегами<h2>
    <!-- <a href="/collections/create" class="btn btn-success not-reg" role="button">Создать коллекцию</a><br> -->
    {% if tags  %}
      {% for tag in tags %}
        <a href="{{ tag.id }}" class="btn btn-primary panel-lk-tag" role="button">{{ tag.tag}}</a>
      {% endfor %}
    {% endif %}
  </div>

{%endblock %}
