{% extends "base.html" %}
{% block content %}
	 <div class="sort-menu">
		 <h3 class="film-sort">Отсортировать по</h3>
		 <a href="/" class="btn btn-success btn-sort" role="button">Рейтингу</a>
		 <a href="/popular" class="btn btn-default" role="button">Популярности</a>
		 <a href="/date" class="btn btn-default" role="button">Дате добавления</a>
		 <a href="/title" class="btn btn-default" role="button">Названию</a>
		 {% if user.is_superuser %}
		   <a href="/control" class="btn btn-primary admin-panel" role="button">Панель администратора</a>
		 {% endif %}
	 </div>

	 <div class="jumbotron custom-jumbotron">
		 <!-- <h1>Рекомендованые материалы</h1> -->
		  {% for material in materials %}
			 	<div class="panel panel-default">
				  <div class="panel-body">
						<a href="/material/{{ material.id }}" class="title-link">
							<h4>{{ material.title }}  {% for tag in material.tags.all %} {{ tag.tag }} {% endfor %}</h4>
						</a>
				  </div>
				</div>
		  {% endfor %}
 </div>

{%endblock %}
