{% extends "base.html" %}
{% block content %}

	 <div class="jumbotron custom-jumbotron-materials">
			 	<div class="panel panel-default">
				  <div class="panel-body">
							<b>Название материала</b>
							{% if user.is_authenticated %}
								<button id="add_to_col" type="button" class="btn btn-warning admin-panel" data-toggle="modal" data-target="#myModal">
										Добавить в коллекцию</button>
									{% if material.user == user or user.is_superuser %}
										<a href="/lk/edit/{{ material.id }}" class="btn btn-warning admin-panel"
															role="button">Редактировать</a>
									{% endif %}
									{% if material.user == user or user.is_superuser %}
										{% if material.is_approved == 0 and material.is_app_changed = 0 %}
											<a id="approve" status="0" matid="{{ material.id }}" class="btn btn-warning admin-panel"
																role="button">Отклонить</a>
											<a id="approve" status="1" matid="{{ material.id }}" class="btn btn-success admin-panel"
																role="button">Одобрить</a>
										{% elif material.is_approved == 1 and material.is_app_changed = 1 %}
											<a id="approve" status="0" matid="{{ material.id }}" class="btn btn-warning admin-panel"
																role="button">Отклонить</a>
											<a id="approve" status="1" matid="{{ material.id }}" class="btn btn-default admin-panel"
																role="button">Одобрено</a>
										{% elif material.is_approved == 0 and material.is_app_changed = 1 %}
											<a id="approve" status="0" matid="{{ material.id }}" class="btn btn-default admin-panel"
																role="button">Отклонено</a>
											<a id="approve" status="1" matid="{{ material.id }}" class="btn btn-success admin-panel"
																role="button">Одобрить</a>
										{% endif %}
									{% endif %}
							{% endif %}
							<h4>{{ material.title }} </h4>
              <b>Автор</b><h4>
                <a  class="title-link"> {{ material.author }}</a></h4>
							<b>Тип материала</b> <h4>{{ material.get_type_material_display }} </h4>
							<b>Рубрика</b>
							<h4>
								<a href="/search/{{ material.rubrik.name }}" class="title-link">
									{{ material.rubrik.name }}
							 	</a>
							</h4>
							{% if material.isbn %}
								<b>ISBN</b> <h4>{{ material.isbn }} </h4>
							{% endif %}
              <b>Теги</b>
                 <h4> {% for tag in material.tags.all %}
                    <a href="/searchtag/{{ tag.tag }}" class="title-link"> {{ tag.tag }}</a>
                      {% endfor %}
                </h4>
							<b>Описание</b> <h4>{{ material.description }} </h4>
							<b>Документ</b> <h4>{{ material.document.name|slice:"2:" }} </h4>
							<a href="{{ material.document.url }}" class="btn btn-success"
												role="button" download>Скачать</a>
							<!-- Modal -->
							<div id="myModal" class="modal fade" role="dialog">
							  <div class="modal-dialog">

							    <!-- Modal content-->
							    <div class="modal-content">
							      <div class="modal-header">
							        <button type="button" class="close" data-dismiss="modal">&times;</button>
							        <h4 class="modal-title">Выберите в какую коллекцию добавить материал</h4>
							      </div>
							      <div class="modal-body">
											{% for collection in collections %}
												<ul class="list-group list-all-materials" id="{{ collection.id }}">
													<li class="list-group-item">
														<input type="hidden" id="collection_id" value="{{ collection.id }}">
														<input type="hidden" id="material_id" value="{{ material.id }}">
														<a href="/collections/{{ collection.id }}"><b>{{ collection.title }}<b></a>
														<a id="add_to" colid="{{ collection.id }}"class="btn btn-success admin-edit control-item"
																			role="button">Выбрать коллекцию</a>
													</li>
												</ul>
											{% endfor %}
							      </div>
							      <div class="modal-footer">
							        <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
							      </div>
							    </div>

							  </div>
							</div>

				  </div>
				</div>
 </div>

{%endblock %}
